*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.wrapper {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    padding: 2rem;
}

.container__main {
    width: 100%;
    display: flex;
}

.section__left,
.section__right {
    width: 30%;
    background: lavenderblush;
    border: 1px solid blue;
}

.section__center {
    width: 60%;
    border: 1px solid green;
}
footer {
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: 1rem;
}