*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

h1 {
    font-size: 2.4rem;
}


.wrapper {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    padding: .7rem;
}

.main__container {
    width: 100%;
    display: flex;
}

.section__left,
.section__right {
    width: 30%;
    background: lavenderblush;
    border: 1px solid blue;
    padding: 1rem;
}

.section__center {
    width: 60%;
    border: 1px solid green;   
    height: 80vh;
   background-color: rgb(225, 246, 242);
}

.choice__panel {
    background-color: rgb(10, 111, 96);
    padding: 1rem; 
    margin-bottom: 1rem;
    box-shadow: 1px 4px 4px rgb(88, 147, 137);
    display: flex;
    justify-content: space-around;
}

#news-country,
#news-category,
.show-news {
   
    /* display: block; */
    outline: none;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0.5rem;
    
}

.news__container {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    overflow-y: auto;
    max-height: 85%;
   
}

.news__card {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 1.6rem;
    width: 100%;
    border: 1px solid black;
    padding: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(250, 243, 243);
}

.news__card:nth-child(2n) {
    background: rgb(230, 246, 177);
}

.news__card:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.news__img {
    width: 60%;
}

.img {
    width: 100%;
    object-fit: cover;
}

.news__content-block {
    width: 70%;
    
}

.news__title {
    font-size: 2.5rem;
    margin-bottom: 0.6rem;
    }

.news__author {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.news__article {
    font-size: 1.6rem;
    text-align: justify;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.news__link {
    font-size: 1.4rem;
    cursor: pointer;
}

footer {
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: 1rem;
}

.footer__info {
    display: flex;
    justify-content: space-around;
    font-size: 2.2rem;
    padding: 1rem;
}

footer a {
    color: rgb(30, 3, 53);
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    color: rgb(18, 63, 24);
}