:root {
    --btn-bg: rgb(6, 105, 19);
}

ul {
    list-style: none;
}

.weather-app-wrapper {
     padding: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#search-form {
    background-color: #fff;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

#search-form input {
    padding: 0.7rem;
    border: none;
    background-color: #fff;
    outline: none;
    max-width: 70%;
}

.search-city__input:active {
    background-color: #fff;
}

.search-city__btn {
    padding: 0.7rem;
    background-color: var(--btn-bg);
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
}

.current-weather__container {
    border-bottom: 1px solid black;
}

.view__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.6rem;

}

.overview li {
    font-size: 1.6rem;
}

.weather__forecast  {
    width: 100%;
    margin: auto;
}

.forecast__line {
    width: 100%;
    display: flex;     
    justify-content: space-around;
    align-items: center;
    
    
}

.forecast__window {
    display: flex;   
    width: 200px;
    gap: 20px;
    align-self: center;
    border: 1px solid red;
    overflow: hidden;
     
}

.forecast__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    align-items: center;
    flex-shrink: 0; 
    
}

.forecast__list li {    
    margin-top: 10px;
}

.arrow {
    width: 30px;
    height: 30px;
    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.icon-small {
    width: 50px;
    height: 50px;
}

